<h2 class="text-center">
  COMPANY <i class="bi bi-yin-yang"></i> CRM

</h2>
<h3 class="text-center">Login whit your account</h3>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="col-6 m-auto">
  <div class="mb-3">
    <label for="email" class="form-label">Email:</label>
    <input formControlName="email" type="text" class="form-control" id="email" placeholder="name@email.com">
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Password:</label>
    <input formControlName="password" type="password" class="form-control" id="password">
  </div>


  <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary btn-lg">
    Login
  </button>

</form>
<div class=" position-relative">
  <div class="position-absolute top-50 start-50 translate-middle">
    <i class="bi bi-c-circle"></i>
    <small class="text-secondary text-center">{{ today | date :'yyyy'}}</small>
  </div>


</div>
